*.o
*.pdf
*.fmt
*.wer
*.out

/lab1/lab1_dtw
/lab1/lab1_frontend

/lab2/src/lab2_fb
/lab2/src/lab2_train
/lab2/src/lab2_vit
/lab2/*.dat
/lab2/*.gmm
/lab2/*.chart
/lab2/*.dcd

/lab3/src/lab3_lm
/lab3/all.nbest*
/lab3/nbest_stat
/lab3/*.counts
/lab3/*.probs
/lab3/p4b.*

.vscode
